:root{
    --red:#D41539;
    --gray:#4A494A;
    --line:#4A494A3A;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.logo-wrapper{
    width:30vw;
    margin: 13vh auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5vw;
    flex-direction: column;
}
.logo-wrapper .logo-img{
    width:100%;
    height: auto;
}

.aboutus-landingPage{
    height: 100vh;
}

.paragraph{
    text-align: center;
    width: 90%;
    margin:auto;
    padding-top:4vw;
}